version: "3.8"

services:
   # Servicio de Base de Datos
   database:
      image: mysql:5.7 # Usamos 5.7 por compatibilidad con proyectos viejos. La 8.0 cambia autenticaci칩n.
      container_name: mysql-db
      environment:
         MYSQL_ROOT_PASSWORD: n0m3l0
         MYSQL_DATABASE: NimoBase # Crea la DB autom치ticamente
      volumes:
         - ./mysql_data:/var/lib/mysql # Persistencia: para no perder datos si reinicias
         - ./Database:/docker-entrypoint-initdb.d/ # Opcional: Carga tu script SQL inicial
      networks:
         - nimo-net
      restart: always

   # Servicio de tu Aplicaci칩n Web
   app:
      build: . # Construye usando el Dockerfile de la carpeta actual
      container_name: nimo-app
      depends_on:
         - database # Espera a que la base de datos inicie (m치s o menos)
      ports:
         - "8080:8080" # Puerto Host : Puerto Contenedor
      networks:
         - nimo-net
      restart: always

networks:
   nimo-net:
      driver: bridge
