
.sectionInformativo{
    margin: 0px;
    padding: 0px;
    display: flex;
}
.aside{
    max-width: 310px;
    background: #C29BF8;
    background-size: cover;
    font-size: 16px;
    margin: 0;
    overflow-y: scroll;
}
.encuentra{
    padding: 10px 15px;
    color: white;
    margin-bottom: 20px;
    border-bottom: 1px solid #4B277A;
    font-size: 23px;
    line-height: 37px;
}
.aside ul{
    margin: 0px;
    list-style: none;
    color: #4B277A;
}
.aside ul li{
    padding-top: 10px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 900;
}
.aside ul a{
    box-sizing: border-box;
    color: #4B277A;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.aside a:hover{
    color: #F8F8F8;
    font-weight: 600;
}
.aside a:before{
    content: "- ";
}
.info{
    display: flex;
    width: calc(100vw - 310px);
    margin: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@media (max-height: 830px){
    .aside ul li{
        padding-top: 6.5px;
    }
}