body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background: url(imagenes/esta.png);
}

#tarjetas{
    display: flex;
    justify-content: center;
}
.tarjeta img{
    width: 100%;
}
.tarjetaUbicacion{
    width: 29%;
    margin: 30px 30px 30px 30px;
    background: #F8F8F8;
    padding: 25px;
    text-align: center;
    box-shadow: 1px 1px 11px 0px #00000030; 
}
h2{
    font-size: 20px;
    color: #000033;
}
.localidad{
    color: #666666;
}
.parrafo{
    line-height: 30px;
    color: #333333;
}