@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #4b277a;
}
.login-card-container{
    display: flex; 
    min-height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}
.login-card{
    margin-top: 5px;
    width: 450px;
    background: rgba(255,255,255,.5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}

.login-card::before{
    content: '';
    position: absolute;
    background: rgba(255,255,255,.15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}

.login-card-logo{
    margin-bottom: 2rem;
}

.login-card-logo img{
    width: 100px;
}

.login-card-form img{
    width: 30px;
    height: 30px;
    display: inline;
}

.login-card-logo, .login-card-header, .login-card-footer{
    text-align: center;
}

.login-card a{
    text-decoration: none;
    color: #4b277a;
}

.login-card a:hover{
    text-decoration: underline;
}

.login-card-header{
    margin-bottom: 2rem;
}

.login-card-header h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.login-card-header h1 + div{
    font-size: calc(1rem * .8);
    opacity: .8;
}

.login-card-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-card-form .form-item{
    position: relative;
}

.login-card-form  .form-item-other{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * .8);
    margin-bottom: .5rem;
}

.login-card-footer{
    margin-top: 1.5rem;
    font-size: calc(1rem * .8);
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card select{
    display: inline;
    border: none;
    outline: none;
    background: rgba(255,255,255,.3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 80%;
    transition: background .5s;
}
.login-card select{
    width: 440px;
}

.login-card input[type="tel"],
.login-card input[type="email"],
.login-card input[type="date"],
.login-card input[type="time"]{
    display: inline;
    border: none;
    outline: none;
    background: rgba(255,255,255,.3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}

.login-card input:focus{
    background: white;
}

.login-card-form button, .login-card-header button{
    background: #4b277a;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

.login-card-form button:hover, .login-card-header button:hover{
    background-color: rgba(75,39,122,.85);
    cursor: pointer;
}
.login-card button[type="radio"]{
    display: inline;
    align-items: center;
}
.login-card-form .form-item p{
    font-size: 16px;
    font-weight: lighter;
    display: inline-block;
}

@media(max-width: 768px){
    body{
        padding: 2rem 0;
    }
    .login-card{
        width: 280px;
        padding: 2rem;
    }
}