body{
    background-color: #D5C8FF;
}
.contener{
                margin-top: 60px;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: sans-serif;
                width: 100%;
                display: flex;
                justify-content: center;
                height: 350px;
            }
            .contener h3{
                color: white;
            }
            .contener p{
                color: white;
            }
            .contener figure{
                position: relative;
                height: 450px;
                width: 550px;
                overflow: hidden;
                border-radius: 70px;
                box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
                cursor: pointer;
            }
            .contener figure img{
                width: 100%;
                height: 100%;
                transition: all 500ms ease-out;
            }
            .contener figure .capa{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.7);
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;
                text-decoration: white;
            }
            .contener figure:hover > .capa{
                opacity: 1;
                visibility: visible;
            }
            .contener figure:hover > .capa h3{
                margin-top: 150px;
                margin-bottom: 20px;
            }
            .contener figure:hover > img{
                transform: scale(1.3);
            }
            .contener figure .capa h3{
                color: white;
                margin-bottom: 100px;
                transition: all 500ms ease-out;
                margin-top: 50px;
            }
            .contener figure .capa p{
                color: white;
                font-size: 18px;
                line-height: 1.5;
                width: 100%;
                max-width: 280px;
                margin: auto;
            }
            footer{
                width: 100%;
                padding: 20px 0px;
                background-image: url(imagenes/background-footer.svg);
                background-size: cover;
            }
            .container__footer{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                max-width: 1800px;
                margin: auto;
                margin-top: 75px;
                align-items:  center;
            }
            
            .box__footer{
                display: flex;
                flex-direction: column;
                padding: 40px;
                margin-top: 15px;
                font-family: 'Open Sans', sans-serif;
            }
            
            .box__footer .logooo img{
                width: 160px;
            }
            .box__footer .terms{
                max-width: 350px;
                margin-top: 125px;
                font-weight: 500;
                color: #7a7a7a;
                font-size: 18px;
            }
            .box__footer h2{
                margin-bottom: 30px;
                color: #343434;
                font-weight: 700;
            }
            .box__footer a{
                margin-top: 10px;
                color: #7a7a7a;
                font-weight: 600;
            }
            .box__footer a:hover{
                opacity: 0.8;
            }
            .box__footer .reddd a{
                display: inline;
                padding: 10px;
            }
            .box__footer .redes{
                height: 30px;
                display: inline;
            }
            .box__copyright{
                max-width: 1800px;
                margin: auto;
                text-align: center;
                padding: 0px 40px;
                font-family: 'Open Sans', sans-serif;
            }
            .box__copyright p{
                margin-top: 20px;
                color: #7a7a7a;
                font-size: 15px;
            }
            .box__copyright hr{
                border: none;
                height: 1px;
                background-color: #7a7a7a;
            }

