*{
    margin: 0;
    padding: 0;
}

.forito{
   width: 100%;
   height: calc(100vh - 100px);
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 5px;
   background-image: url(imagenes/foro1.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Montserrat';
}

.contenedor{
    background-color: rgba(255,255,255,0.7);
    width: 600px;
    height: 120px;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    
}
.contenedor-2{
    width: 600px;
    height: auto;
    background-color: rgba(255,255,255,0.7);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
    gap: 20px;
    /*text-transform: capitalize;*/
    border-radius: 20px;
}
.comentario{
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    height: 60px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 20px;
    border-radius: 20px;
    color: black;
}
.contenedor-agg-com{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.imagen-usuario{
    width: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
img{
    width: 50px;
}
.input-com{
    width: 500px;
    height: 100px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 5px;
    font-family: 'Montserrat';
}
#nuevoComentario{
    outline: none;
    border: 0;
    width: 100%;
    height: 50px;
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    background-color: transparent;
    color: black;
    border-bottom: 2px solid rgba(255,255,255,0);
    transition-duration: 200ms;
}
#nuevoComentario::placeholder{
    color: black;
    font-family: 'Montserrat';
}
#nuevoComentario:focus{
    border-bottom: 2px solid #cc99ff;
    font-family: 'Montserrat';
}
.btn-agg{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 5px 0px 0px;    
}
button{
    padding: 12px 20px 12px 20px;
    border-radius: 20px;
    border: 0;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Montserrat';
}
.close{
    font-size: 15px;
    position: absolute;
    right: 50px;
    width: 20px;
    z-index: 2;
    transition-duration: 200ms;
    display: block;
    cursor: pointer;
    color: #cc99ff;
    font-family: 'Montserrat';
}