.concar{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.slider{
    width: 1100px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.54);
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 1100px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 1100px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #000;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 1100px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #000;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #000;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #000;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #000;
}