@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans");
:root {
    --padding-container: 100px 0;
    --color-title: #491D82;
    --clr-neon: white;
    --bs-purple: #6f42c1;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

/*selection*/
*::selection{
    background: #dfb9ee;
    color: black;
}
/*scrollbar*/
*::-webkit-scrollbar{
    width: 9px;
    background: black;
}
::-webkit-scrollbar-thumb:active{
    background: #9140C7;
}
*::-webkit-scrollbar-thumb{
    background: #7A40C7;
    border-radius: 15px;
}
/*termina scrollbar*/

:root{
    --clr-neon: white;
}
nav a, nav li{
    font-family: 'Century Gothic', Times, serif;
    font-size: 1.2rem;
    color: white;
}
nav{
    
    height: 100px;
    width: 100%;
}
.menu-icon img{
    height: 50px;
    width: 50px;
	z-index: 3;
}
.enlace{
    position: absolute;
    padding: 15px 30px;
    cursor: pointer;
}
.logo{
    height: 65px;
}
nav ul{
    float: right;
    margin-right: 1rem;

}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 10px;
    border-radius: 30px;
    font-weight: bold;
}
nav li a.active, nav li a:hover{
    background: white;
    color: #4b277a;
    transition: 0.3s;
    text-decoration: none;
    border: .0px solid var(--clr-neon);
    box-shadow: inset 0 0 .4em 0 var(--clr-neon), 0 0 .6em 0 var(--clr-neon);
}
.regis:hover:before{
    width: 40px;
}
.admins:hover:before{
    width: 170px;
}
.inis:hover:before{
    width: 110px;
}
nav ul li a:hover:before{
    content: '';
    position: fixed;
    padding: 7px 13px;
    background: white;
    top: 75px;
    height: 2px;

    transform: perspective(1em) rotateX(45deg) scale(1.1, .3);
    filter: blur(1em);
    opacity: .9;
}

.checkbtn{
    float: right;
    margin-top: 25px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1350px){
    .checkbtn{
        
        display: block;
        position: static;
		z-index: 4;
    }
    nav ul{
        position: absolute;
        z-index: 3;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        width: 100%;
        height: 125vh;
        display: flex;
        font-size: 28px;
        justify-content: start;
        flex-direction: column;
        background: #C29BF8;
        overflow-y: hidden;
        margin-block-end: 0px;
        margin-bottom: 0px;
    }
    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav li a:hover, nav li a.active{
            background: white;
            color: #4b277a;
            transition: 0.3s;
            text-decoration: none;
            border: .1em solid var(--clr-neon);
            box-shadow: inset 0 0 .4em 0 var(--clr-neon), 0 0 .6em 0 var(--clr-neon);
        
    }
    #check:checked ~ ul{
        left: 0;
    }
}


body {
	background: url(imagenes/FONDOOOOOOOOOOOOOOO.png);
	font-weight: 400;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
        color: white;
        align-content: center;
        background-size: cover;
}

header{
    display: block;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: white;
    background:url(imagenes/comihead.png) no-repeat center;
    background-size: cover;
    margin-bottom: 6em;
}
.titulo{
    text-shadow:  2px 2px 3px purple;
    padding-top: 0.5em;
    font-size: 6em;
    text-align: center;
    color: white;
}
.textito{
    text-shadow:  3px 2px 3px purple;
    text-align: center;
}
.apartadito{
    color: black;
    display: flex;
    position: relative;
    padding: 0%;
}
.grid {
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
}
.subtitle{
        padding-top: 0.5em;
        text-shadow:  2px 2px 3px purple;
        text-align: center;
        font-size: 6rem;
        color: white;
    }
.textoss{
    padding: 0.5em;    
    }
.questions container{
    text-align: center;
    position: relative;
}
.questions__paragraph{
    text-shadow:  3px 2px 3px purple;
    text-align: center;
    position: relative;
}

.questions__answer{
    position: relative;
    text-align: justify;
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    position: relative;
    text-align: justify;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
    color: #c58cfa;
}

.questions__show{
    text-align: justify-all;
    height: 0;
    transition: height .3s;
    position: relative;
}

.questions{
    text-align: center;
    padding: 35px;
    position: relative;
}

.questions__container{
    position: relative;
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 0.5em;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #c58cfa;
    border-radius: 6px;
    position: relative;
}

.questions__padding--add{
    padding-bottom: 30px;
    position: relative;
}

.questions__arrow{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
    position: relative;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
    position: relative;
}

.questions__img{
    display: block;
    position: relative;
}

.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
}
 
