body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

section{
    height: 100vh;
}
.izquierda{
    background: url(imagenes/esta.png);
    height: 100%;
    width: 50%;
    
}
.derecha{
    background: url(imagenes/fondoComunidad.png);
    background-size: cover;
    background-position: center center;
    width: 50%;
    height: 100%;
}

#pantalla-dividida{
    display: flex;
    
}

.creative{
    color: #f8f3ff;
}
.text{
    color: #f8f3ff;
}
h1{
    font-size: 60px;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    margin-left: 190px;
    margin-top: 80px;
}
p{
    font-size: 19px;
    line-height: 30px;
    width: 50%;
    margin: auto;
}

.link{
    text-align: center;    
}


