@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    
}
.cajita h2{
    color: #4b277a;
}
.cajita div{
    float: left;
    align-items: center;
}
.cajita img{
    height: 280px;
    width: 280px;
}

#cajita{
    display: table;
    width: 100%;
    height: 900px;
}

#descrip{
    width: 50%;
    height: 900px;
}
#enmedio{
    width: 10%;
    height: 900px;
}
#ini_acci{
    width: 40%;
    height: 500px;
}

#sub_descripc{
    width: 100%;
    height: 450px;
}
#sub_descripc2{
    width: 100%;
    height: 450px;
}
#subsubd{
    
    width: 50%;
    height: 450px;
}
#fot_1{
    width: 50%;
    height: 450px;
}
#fot_2{
    width: 50%;
    height: 450px;
}

.cuadrito{
    margin-top: 1px;
    width: 450px;
    background: rgba(197,155,251,.5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
    font-size: 16px;
    text-align: justify;
    
}

.cajita a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 30px;
    font-weight: bold;
    background-color: #4b277a;
}
.ini_acci{
    margin-top: 5px;
    
    box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.54);
    background: rgba(255,255,255,.5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}