@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans");
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
:root{
    --clr-neon: white;
}
nav a, nav li{
    font-family: 'Century Gothic', Times, serif;
    font-size: 1.2rem;
    color: white;
}
nav{
    background: #4b277a;
    height: 100px;
    width: 100%;
}
.menu-icon img{
    height: 50px;
    width: 50px;
}
.enlace{
    position: absolute;
    padding: 15px 30px;
    cursor: pointer;
}
.logo{
    height: 65px;
}
nav ul{
    float: right;
    margin-right: 1rem;
}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}
nav ul li a, .desplegar{
    color: white;
    font-size: 18px;
    padding: 7px 10px;
    border-radius: 30px;
    font-weight: bold;
}

.desplegar{
    background-color: transparent;
    cursor: pointer;
    font-family: "Century Gothic";
}

nav li a.active, nav li a:hover{
    background: white;
    color: #4b277a;
    margin: 0;
    transition: 0.3s;
    text-decoration: none;
    border: 0px solid var(--clr-neon);
    box-shadow: inset 0 0 .4em 0 var(--clr-neon), 0 0 .6em 0 var(--clr-neon);
}
.desplegar:hover{
    background-color: white;
    color: #4b277a;
    margin: 0;
    transition: 0.3s;
    text-decoration: none;
    border: 0px solid var(--clr-neon);
    box-shadow: inset 0 0 .4em 0 var(--clr-neon), 0 0 .6em 0 var(--clr-neon);
}
.regis:hover:before{
    width: 40px;
}
.admins:hover:before{
    width: 170px;
}
.inis:hover:before{
    width: 110px;
}
nav ul li a:hover:before{
    content: '';
    position: fixed;
    padding: 7px 13px;
    background: white;
    top: 75px;
    height: 2px;

    transform: perspective(1em) rotateX(45deg) scale(1.1, .3);
    filter: blur(1em);
    opacity: .9;
}

.checkbtn{
    float: right;
    margin-top: 25px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/*selection*/
*::selection{
    background: #dfb9ee;
    color: black;
}
/*scrollbar*/
*::-webkit-scrollbar{
    width: 9px;
}
::-webkit-scrollbar-thumb:active{
    background: #9140C7;
}
*::-webkit-scrollbar-thumb{
    background: #7A40C7;
    border-radius: 15px;
}
/*termina scrollbar*/

@media (max-width: 1350px){
    .checkbtn{
        display: block;
        position: static;
    }
    nav ul{
        position: absolute;
        z-index: 3;
        width: 100%;
        height: calc(100vh - 100px);
        background: #9C7BC7;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav li a:hover, nav li a.active{
            background: white;
            color: #4b277a;
            transition: 0.3s;
            text-decoration: none;
            border: .1em solid var(--clr-neon);
            box-shadow: inset 0 0 .4em 0 var(--clr-neon), 0 0 .6em 0 var(--clr-neon);
        
    }
    #check:checked ~ ul{
        left: 0;
    }
}
