@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(imagenes/esta.png);

}

.card {
    width: 190px;
    height: auto;
    padding: 2%;
    background: rgb(255, 255, 255);
    border-bottom: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, 
        border-left, 
        border-bottom,
        border-right,
        box-shadow;
}

.card:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(106, 43, 200);
    border-right: 2px solid rgb(106, 43, 200);
    box-shadow: rgba(106, 43, 194, 0.4) 5px 5px, rgba(106, 43, 194, 0.3) 10px 10px, rgba(106, 43, 194, 0.2) 15px 15px, rgba(106, 43, 194, 0.1) 20px 20px, rgba(106, 43, 194, 0.05) 25px 25px;
}

.card__content {
    font-size: small;
    text-align: center;
}

.card__content-heading {
    color: blueviolet;
}

.card__content-body p {
    color: rgb(118, 104, 128);
    padding-bottom: 1rem;
}

.card__content-footer button {
    background-color: rgb(255, 255, 255);
    color: grey;
    font-weight: 700;
    border-radius: .2rem;
    border: 1px solid grey;
    padding: .5rem;
    margin: 1rem;
    transition-duration: 1s;
    transition-property: background-color, color, border;
}

button:hover {
    color: white;
    background-color: rgb(106, 43, 194);
    border: 1px solid white;
    box-shadow: rgba(106, 43, 194 0.27) 0px 0px 0.25em, rgba(106, 43, 194 0.05) 0px 0.25em 1em;
}

.contenedor{
                min-height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                flex-direction: row;
                margin: auto;
                padding:15px;
            }
