
*{
    transition: all .2s linear;
    text-decoration: none;
}

.info-mascotas{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.info-mascotas .info{
    display: none;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 500px;
}

.info-mascotas .info.active{
    display: inline-block;
}

.info-mascotas .info img{
    max-height: 300px;
    max-width: 385px;
    border-radius: 20px;
    border: 5px solid #624891;
}

.info-mascotas .info .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 2.5rem;
}

.info-mascotas .info .fa-times:hover{
    transform: rotate(90deg);
}

.info-mascotas .info h3{
    color: #2C1747;
    padding:.5rem 0;
    font-size: 2rem;
}

.info-mascotas .info p{
    padding: 0;
    font-size: 1.2rem;
    color:#777;
}
.info-mascotas .info .informacion{
    text-align: initial;
    line-height: 1.5;
    padding:0.5rem 0;
    font-size: 1.2rem;
    color:#777;
}

.info-mascotas .info .buttons{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
}

.info-mascotas .info .buttons button{
    flex:1 1 16rem;
    cursor: pointer;
    padding:1rem;
    font-size: 1rem;
    color:#444;
    border:.1rem solid #444;
    background-color: white;
}

.info-mascotas .info .buttons button.cart{
    background: #624891;
    color:#fff;
}

.info-mascotas .info .buttons button.cart:hover{
    background: #2C1747;
}

.info-mascotas .info .buttons button.buy:hover{
    background: #624891;
    color:#fff;
}

