
*{
    transition: all .2s linear;
    text-decoration: none;
}

.contacto{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.contacto .info{
    display: none;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 500px;
    max-height: calc(100vh - 50px);
    overflow-y: scroll;
}

.contacto .info.active{
    display: inline-block;
}

.contacto .info .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 2.5rem;
}

.contacto .info .fa-times:hover{
    transform: rotate(90deg);
}

.contacto .info h3{
    color: #2C1747;
    padding:.5rem 0;
    font-size: 2rem;
}

.contacto .info p{
    padding: 0;
    font-size: 1.2rem;
    color:#777;
}
.contacto .info .informacion{
    text-align: initial;
    line-height: 1.5;
    padding:0.5rem 0;
    font-size: 1.2rem;
    color:#777;
}

